.home-container {
    height: 100vh;
    background-image: linear-gradient(180deg,#c0c0c0,#f1cf70 100%,#d4c6c6);
    
}

 

.h-titulo{
    font-family: 'Inter', sans-serif;
    color: rgba(75, 74, 74, 0.829);
    font-size: 4.3rem;
    font-weight: bolder;
    text-align: center;
    margin-top: 5%;
    
}

.logo-img{
    width: 20vh;
    margin-top: 10vh;
    margin-left: 20vh;
    
   
}

.buton-container{
    display: block;
   text-align: center;
    margin: 12% auto;
  
   
}

.botonVisitar{
    padding: 10px 20px;
    background-color: #f1cf70;
    color: rgba(75, 74, 74, 0.829);
    border: none;
    box-shadow: 3px 2px 3px 2px rgba(0,0,0,0.2);
    font-size: 28px;
    margin-right: 20px;

    cursor: pointer;
    transition: all 500ms;
    border-radius: 5px;

}
.botonVisitar:hover{
    transform: scale(1.05);
}

@media only screen and (max-width : 900px){
    .logo-img{
        margin-top: 5vh;
        margin-left: 5vh;
    }
    .h-titulo{

        margin-top: 30%;
    }
    .buton-container{
        margin: 50% auto;

    }

    .botonVisitar{
        margin-right: 0px;
    }
}
